[submodule "home/.vim/bundle/desert256.vim"]
  url  = git://github.com/vim-scripts/desert256.vim.git
  path = home/.vim/bundle/desert256.vim
[submodule "home/.vim/bundle/scss-syntax.vim"]
  url  = git://github.com/cakebaker/scss-syntax.vim.git
  path = home/.vim/bundle/scss-syntax.vim
[submodule "home/.vim/bundle/tabular"]
  url  = git://github.com/godlygeek/tabular.git
  path = home/.vim/bundle/tabular
[submodule "home/.vim/bundle/vim-coffee-script"]
  url  = git://github.com/kchmck/vim-coffee-script.git
  path = home/.vim/bundle/vim-coffee-script
[submodule "home/.vim/bundle/vim-eunuch"]
  url  = git://github.com/tpope/vim-eunuch.git
  path = home/.vim/bundle/vim-eunuch
[submodule "home/.vim/bundle/vim-haml"]
  url  = git://github.com/tpope/vim-haml.git
  path = home/.vim/bundle/vim-haml
[submodule "home/.vim/bundle/vim-indent-guides"]
  url  = git://github.com/nathanaelkane/vim-indent-guides.git
  path = home/.vim/bundle/vim-indent-guides
[submodule "home/.vim/bundle/vim-javascript"]
  url  = git://github.com/pangloss/vim-javascript.git
  path = home/.vim/bundle/vim-javascript
[submodule "home/.vim/bundle/vim-markdown"]
  url  = git://github.com/tpope/vim-markdown.git
  path = home/.vim/bundle/vim-markdown
[submodule "home/.vim/bundle/vim-rails"]
  url  = git://github.com/tpope/vim-rails.git
  path = home/.vim/bundle/vim-rails
[submodule "home/.vim/bundle/vim-ruby"]
  url  = git://github.com/vim-ruby/vim-ruby.git
  path = home/.vim/bundle/vim-ruby
[submodule "home/.vim/bundle/vim-jade"]
  url  = git://github.com/digitaltoad/vim-jade.git
  path = home/.vim/bundle/vim-jade
[submodule "home/.vim/bundle/vim-puppet"]
  url  = git://github.com/rodjek/vim-puppet.git
  path = home/.vim/bundle/vim-puppet
