[user]
	name = James Gary
	email = mrjamesgary@gmail.com
[color]
	ui = auto
[core]
	excludesfile = ~/.gitignore_global
[github]
  user = jamesgary
[alias]
  st = status -sb
  ci = commit
  br = branch
  co = checkout
  df = diff
  re = remote -v
  lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
  blame = blame -wC
  undo = reset --soft HEAD^
[help]
  autocorrect = -1
[credential]
	helper = osxkeychain
